
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #0c0c0c; 
    color: #fff
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    background: #0a0a0a;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    box-shadow: 0 4px 8px rgba(0, 255, 170, 0.4);
}

.header a span {
    color: rgb(0, 255, 170);
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: rgb(0, 255, 170);
    position: relative; 
}

/*Secao para colocar barra abaixo das palavras do menu */
.navbar a:hover::after,
.navbar a.active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: rgb(0, 255, 170);
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.navbar a:hover::after,
.navbar a.active::after {
    width: 100%; /* quando o mouse passar por cima, a largura será 100% */
}

/* Fim da secao para colocar barra abaixo das palavras do menu */

.home {
position: relative;
width: 100%;
height: 88vh;
display: flex;
justify-content: space-between;
align-items: center;
padding:70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
font-size: 32px;
font-weight: 700;
opacity: 0;
animation: slideBottom 1s ease forwards;
animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: rgb(0, 255, 170);
    font-style: italic;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    color: rgb(0, 255, 170);
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, /* floatImage 4s */
    ease-in-out;
    animation-delay: 2s, 3s;
    }

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(0, 255, 170);
    border-radius:50%;
    font-size: 20px;
    color: rgb(0, 255, 170);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
}

.social-media a:hover {
    background:rgb(0, 255, 170);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(0, 255, 170);
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background:rgb(0, 255, 170);
    color: #1f242d;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 255, 170);
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    border: solid;
    border-width: 2px;
    border-color:rgb(0, 255, 170);
}

.btn:hover {
    transition: .6s ease;
    box-shadow: 0 0 20px rgb(0, 255, 170);
    border: solid;
    border-width: 2px;
    border-color: rgb(0, 255, 170);
    background: transparent;
    color: rgb(0, 255, 170);
}

/*KEYFRAMES ANIMATION*/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    0% {
        transform: translateY(0);
    }
}

/* SEÇÃO PRINCIPAL SOBRE MIM*/

main { 
    background-color: #111; 
    color: white; 
}

main .sobre {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo {
    margin: -30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color: rgb(0, 255, 170);
    margin-bottom: 10px;
    font-family: 'Berkshire Swash', cursive;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(0, 255, 170);
}


.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur (0);
}

.sobre img:hover {
    transition: .5s ease-in;
    filter: blur(1px);
} 

.sobre_conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1 { 
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre_texto h1:after {
    background-color: rgb(0, 255, 170);
    height: 6px;
    width: 50%;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
    text-align: justify;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: rgb(0, 255, 170);
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: .9rem;
}

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* SEÇÃO HABILIDADES */

  .skills-section {
    text-align: center;
    margin: 50px 0;
  }
  
  .skill-box {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(0, 255, 170);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    border: solid;
    border-color:  rgb(0, 255, 170);
  }
  
  .skill-box:hover {
    transform: translateY(-10px);
    transition: .6s ease;
    box-shadow: 0 0 20px rgb(0, 255, 170);
    border: solid;
    border-width: 2px;
    border-color: rgb(0, 255, 170);
    background: transparent;
    color: rgb(0, 255, 170);
  }

  
  .skill-icon {
    font-size: 40px;
    color: #1f242d;
    margin-top: 30px;
  }
  
  .skills-section h3 {
    font-size: 23px;
    color: #1f242d;
    margin-top: 10px;
    font-weight: bolder;
  }
  
  .skill-box:hover .skill-icon {
    color: rgb(0, 255, 170);
  }
  
  .skill-box:hover h3 {
    color: rgb(0, 255, 170);
  }